@font-face {
    font-family: "Party Confetti";
    src: url('Fonts/Party-Confetti.ttf');
}

@font-face {
    font-family: "Berlin Rounded Regular";
    src: url('Fonts/BerlinRounded-Regular.ttf');
}

@font-face {
    font-family: "Berlin Rounded Light";
    src: url('Fonts/BerlinRounded-Light.ttf');
}

@font-face {
    font-family: "Berlin Rounded Bold";
    src: url('Fonts/BerlinRounded-Bold.ttf');
}

@font-face {
    font-family: "Berlin Rounded Extra Bold";
    src: url('Fonts/BerlinRounded-Extra-Bold.ttf');
}


/* BODY */ 
body {
	  font-family: Berlin Rounded Regular, Arial, sans-serif;
	  color: #fff;
	  background-color: #0e0e0e;
    margin: 0 0 0 0;
}


/* MAIN GRID */ 
.wrapperGrid {
    display: grid;
    grid-template-columns: 15vh 85vh;
}


/* SIDEBAR */ 
.sidebarSect {
    background-color: rgb(28, 28, 28);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 28vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-right: 5px solid #8757FF;
}

.logoBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0px 10px 0px;
}

.logoBox img {
    opacity: 0.3;
    display: flex;
    width: 90%;
    user-select: none;
}

.logoBox img:hover {
    opacity: 1;
    transition: 0.1s;
}

.tabsBox {
    display: flex;
    width: 100%;
    height: 70vh;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.activeButton {
    display: flex;
    background-color: #8757FF;
    font-family: Party Confetti;
    letter-spacing: 1.5px;
    font-size: 20px;
    height: 50px;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    cursor: default;
    padding-left: 15px;
}

nav .navButton {
    font-family: Party Confetti;
    letter-spacing: 1.5px;
    display: flex;
    font-size: 20px;
    height: 50px;
    border: none;
    color: #fff;
    background-color: #0e0e0e00;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    padding-left: 15px;
}

nav .navButton:hover {
    background-color: #48347d;
    transition: 0.2s;
}

nav .navButton:active {
    background-color: #9a73fd;
    transition: 0.1s;
}

.accountBox {
    display: flex;
    width: 90%;
    height: 7vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    border: 2px solid rgba(255, 255, 255, 0.363);
    border-radius: 5px;
    cursor: pointer;
}

.accountBox .accountPic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accountBox .accountPic img {
    filter: invert(1);
    width: 80%;
}

.accountBox:hover {
    background-color: #EE6C4D;
    color: #0e0e0e;
    transition: 0.1s;
    border-color: #EE6C4D;
}


/* CONTENT GRID */ 
.contentSect {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 86vw;
    padding-left: 14vw;
    background-color: #0e0e0e00;
}



footer {
    margin: 3.5% 0 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.footerGrid {
    display: grid;
    grid-template-columns: 100%;
}

.copyrightBox {
    opacity: 0.6;
    text-align: center;
    font-size: 1.5vh;
}


/* LINKS */
a:link {
	color: inherit;
    text-decoration: none;
}

a:hover {
	color: none;
}

a:active {
	color: #fff;
}

a:visited {
	color: #fff;
}

.bg-custom{
    background-color: #0e0e0e;
}

.text-custom {
    color: #6c757d;
}

/* Change the background color of the calendar widget */
.fc-view {
    background-color: #0e0e0e;
    color: #fff;
  }
  
  /* Change the background color of the header */
  .fc-toolbar {
    background-color: #0e0e0e;
    color: #fff;
  }
  
  /* Change the text color of the title */
  .fc-toolbar-title {
    color: #fff;
  }
  
  /* Change the color of the calendar events */
  .fc-event-time,  .fc-event, .fc-event-main-frame{
    background-color: #48347d;
    color: #fff;
  }

  .fc-daygrid-day-number{
    color: #fff;
  }
  
  .fc-col-header-cell-cushion {
    color: #EE6C4D;
  }

  .bg-custom2{
    background-color: rgb(28, 28, 28);
    }
