*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background: #293241;
}
.gbuttons{
    padding-top: 10px;

}
.buttons{
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content:right;
    margin-right: 20px;

}
.user:hover{
    color: #ffc2b3;
    transition: 0.5s;
}
button{
    padding:15px;
    margin-right: 10px;
    justify-content: center;
    background-color:#EE6C4D;
    color: #E0FBFC;
    border-radius: 8px;
    border: none;
    cursor: pointer;

}
.nav-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navnav{
    height: 40px;
    font-size: 90px;
}
hr{
    border: 7px solid #EE6C4D;
}
ul.bt{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    height: 60px;
    margin-left: 50px;
}
.nb{

    font-size: 39px;
    border-radius: 8px;
    margin-top: 5px;
}
.nb:hover{
    color: #ffc2b3;
    font-size: 45px;
    transition: 0.5s;
}