*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  background: #E0FBFC;
}
.gbuttons{
    padding-top: 10px;

}
.buttons{
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content:right;
    margin-right: 20px;

}
.user:hover{
    color: #ffc2b3;
    transition: 0.5s;
}
button{
    padding:15px;
    margin-right: 10px;
    justify-content: center;
    background-color:#293241;
    color: #E0FBFC;
    border-radius: 8px;
    border: none;
    cursor: pointer;

}
.habitat{
  background-color:#3D5A80;
  font-size: 39px;
  border-radius: 8px;
  margin-top: 5px;
  transition: 0.5s;
}
.habitat:hover{
  color: #ffc2b3;
  font-size: 45px;
  transition: 0.5s;
}
.nav-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navnav{
    height: 40px;
    font-size: 90px;
}
hr{
  border: 7px solid #3D5A80;
  position: relative;
}
ul.bt{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    height: 60px;
    margin-left: 50px;
}
.nb{

    font-size: 39px;
    border-radius: 8px;
    margin-top: 5px;
}
.nb:hover{
    color: #ffc2b3;
    font-size: 45px;
    transition: 0.5s;
}

  
  .container {
    padding: 90px;
    align-items: center;
    background-color: #EE6C4D;

  }
  
  h2 {
    text-align: center;
    font-weight: 400;
  }
  
  .habits {
    text-align: left;
    list-style: none;
  }
  
  .habits li {
    border-bottom: 5px solid #3D5A80;
    padding: 10px;
    font-weight: 400;
    display: flex;
    align-items: center;
  }
  
  .habits label {
    flex: 1;
    cursor: pointer;
  }
  
  .habits input {
    margin-right: 12px;
  }
  
  .habits input {
    display: none;
  }
  
  .habits input + label:before {
    content: "+";
    margin-right: 12px;
  }
  
  .habits input + label span {
    font-weight: 200;
    font-size: 0.75rem;
  }
  
  .habits input:checked + label {
    text-decoration: line-through;
    color: #3D5A80;
  }
  
  .habits button {
    padding-left: 30px;
    background: none;
    margin: 5px;
    outline: 0;
    border: 0;
    border-radius: 5px;
  }
  
  .add-habit {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 5px solid #3D5A80;
  }
  
  .add-habit input {
    padding: 10px;
    margin: 5px;
    outline: 0;
    border: 0;
    border-radius: 100px;
  }
  
  .add-habit select {
    border-radius: 10px;
    border: none;
  }
  
  .frequency {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
  }