@font-face {
    font-family: "Party Confetti";
    src: url('Fonts/Party-Confetti.ttf');
}

@font-face {
    font-family: "Berlin Rounded Regular";
    src: url('Fonts/BerlinRounded-Regular.ttf');
}

@font-face {
    font-family: "Berlin Rounded Light";
    src: url('Fonts/BerlinRounded-Light.ttf');
}

@font-face {
    font-family: "Berlin Rounded Bold";
    src: url('Fonts/BerlinRounded-Bold.ttf');
}

@font-face {
    font-family: "Berlin Rounded Extra Bold";
    src: url('Fonts/BerlinRounded-Extra-Bold.ttf');
}


/* BODY */ 
body {
	font-family: Berlin Rounded Regular, Arial, sans-serif;
	color: #fff;
	background-color: #0e0e0e;
    margin: 0 0 0 0;
}

header {
    margin-top: 10px;
    display: flex;
    box-sizing: border-box;
    height: 30%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px solid #4B77FF;
}

.logoBox {
    display: flex;
    flex-direction: row;
    width: 12%;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100%;
}

.tabs {
    display: flex;
    width: 60%;
    height: 8vh;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav button {
    font-family: Party Confetti;
    letter-spacing: 1.5px;
    display: flex;
    font-size: 20px;
    border: none;
    color: #fff;
    background-color: #3E5187;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
    flex: 1;

}

nav button:hover {
    background-color: #4B77FF;
    transition: 0.2s;
}



.greetingsText {
    font-size: 4vh;
    margin-left: 10px;
}

.shortcutSect {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: minmax(4fr, auto);
    grid-column-gap: 2vh;
    justify-content: center;
    padding: 0px 10px 0px 10px;
}

.shortcutBox {
    background-color: crimson;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.shortcutBox:hover {
    background-color: rgb(245, 113, 139);
    color: #0e0e0e;
    transition: .2s;
}

.shortcutBox img {
    width: 100%;
    object-fit: cover;
}

.shortcutBox span {
    font-size: 3vh;
    text-align: center;
    margin: 5px;
}
