@font-face {
    font-family: "Party Confetti";
    src: url('Fonts/Party-Confetti.ttf');
}

@font-face {
    font-family: "Berlin Rounded Regular";
    src: url('Fonts/BerlinRounded-Regular.ttf');
}

@font-face {
    font-family: "Berlin Rounded Light";
    src: url('Fonts/BerlinRounded-Light.ttf');
}

@font-face {
    font-family: "Berlin Rounded Bold";
    src: url('Fonts/BerlinRounded-Bold.ttf');
}

@font-face {
    font-family: "Berlin Rounded Extra Bold";
    src: url('Fonts/BerlinRounded-Extra-Bold.ttf');
}


/* BODY */ 
body {
    font-family: Berlin Rounded Regular, Arial, sans-serif;
    color: #fff;
    background-color: #0e0e0e;
    margin: 0 0 0 0;
    overflow-x: hidden;
}


/* MAIN GRID */ 
.wrapperGrid {
    display: grid;
    grid-template-columns: 15vh 85vh;
}


/* SIDEBAR */ 
.sidebarSect {
    background-color: rgb(28, 28, 28);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 28vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-right: 5px solid #ed9b48;
}

.logoBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0px 10px 0px;
}

.logoBox img {
    opacity: 0.3;
    display: flex;
    width: 90%;
    user-select: none;
}

.logoBox img:hover {
    opacity: 1;
    transition: 0.1s;
}
input[type="text"],
input[type="time"],
input[type="date"],
textarea {
  display:flex;
  flex-direction: row;
    align-items: center;
  margin-top: 5px;
  padding: 5px;
  font-size: 14px;
  border: 3px solid #ed9b48;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="time"]:focus,
input[type="date"]:focus,
textarea:focus {
  outline: none;
  border-color: #2196F3;
}
  

.tabsBox {
    display: flex;
    width: 100%;
    height: 70vh;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.activeButton {
    display: flex;
    background-color: #ed9b48;
    font-family: Party Confetti;
    letter-spacing: 1.5px;
    font-size: 20px;
    height: 50px;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    cursor: default;
    padding-left: 15px;
}

nav .navButton {
    font-family: Party Confetti;
    letter-spacing: 1.5px;
    display: flex;
    font-size: 20px;
    height: 50px;
    border: none;
    color: #fff;
    background-color: #0e0e0e00;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    padding-left: 15px;
}

nav .navButton:hover {
    background-color: #ad7843;
    transition: 0.2s;
}

nav .navButton:active {
    background-color: #feba75;
    transition: 0.1s;
}

.accountBox {
    display: flex;
    width: 90%;
    height: 7vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    border: 2px solid rgba(255, 255, 255, 0.363);
    border-radius: 5px;
    cursor: pointer;
}

.accountBox .accountPic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accountBox .accountPic img {
    filter: invert(1);
    width: 80%;
}

.accountBox:hover {
    background-color: #EE6C4D;
    color: #0e0e0e;
    transition: 0.1s;
    border-color: #EE6C4D;
}
  
form {
    max-width: 500px;
    margin: auto;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  

/* CONTENT GRID */ 
.contentSect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 86vw;
    padding-left: 14vw;
}

.header {
    display: flex;
    font-size: 3.5vh;
    user-select: none;
    padding: 0px 10px 0px 10px;
}

footer {
    margin: 3.5% 0 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerGrid {
    display: grid;
    grid-template-columns: 100%;
}

.copyrightBox {
    opacity: 0.6;
    text-align: center;
    font-size: 1.5vh;
}


/* LINKS */
a:link {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: none;
}

a:active {
    color: #fff;
}

a:visited {
    color: #fff;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-template-rows: repeat(5, 8fr);
    background-color: rgb(28, 28, 28);
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    height: 75%;
    margin-top: 5%;
    padding: 25px 35px;
    border-radius: 10px;
    gap: 15px;
}

.fontButtons, .paragraphButtons, .insertButtons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: .5vw;
    width: 80%;
}

.fontButtonsSect, .paragraphButtonsSect, .insertButtonsSect {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.toolCategory {
    opacity: .25;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5px;
}

.option-button, .adv-option-buttonLink {
    background-color: #363636;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 3vw;
    height: 5vh;
    margin: 3px;
}

.adv-option-button {
    background-color: #363636;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 6.4vw;
    height: 5vh;
    margin: 3px;
    font-family: Berlin Rounded Regular;
}

.option-button:hover {
    background-color: #a5a5a5;
    transition: 0.2s;
}

.option-button:active {
    background-color: #ed9b48;
    transition: 0.1s;
}

.adv-option-buttonLink:hover {
    background-color: #a5a5a5;
    transition: 0.2s;
}

.adv-option-buttonLink:active {
    background-color: #ed9b48;
    transition: 0.1s;
}

.adv-option-button:hover {
    background-color: #a5a5a5;
    transition: 0.2s;
}

.adv-option-button:active {
    background-color: #ed9b48;
    transition: 0.1s;
}

select {
    padding: 7px;
    border: 2px solid #020929;
    border-radius: 5px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 2px;
}

.inputBoxSect {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    height: 150%;
    grid-column: 1 / 4;
}

/*.inputBox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    border-radius: 7px;
    padding: 10px;
}*/

#text-input {
    border: 2px solid #ad7843;
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }

.publishButtonSect {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    grid-column: 1 / 4;
    margin-top: 110px;
}

.publishButton {
    font-family: Berlin Rounded Regular;
    font-size: 3vh;
    background-color: #363636;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    border: none;
}

.publishButton:hover {
    background-color: #ed9b48;
    transition: 0.2s;
}
  
.publishButton:active {
    background-color: #479324;
    transition: 0.1s;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 100%;
    box-shadow: 0 0 0 2px #ffffff;
}

input[type="color"]::-moz-color-swatch {
    border-radius: 100%;
    box-shadow: 0 0 0 2px #ffffff;
}

.active {
    background-color: #ed9b48;
}